[submodule "Hazel/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Hazel/vendor/GLFw"]
	path = Hazel/vendor/GLFw
	url = https://github.com/TheCherno/glfw
